*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-image: url("img/fondo.png");
    background-size: cover;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.imagen{
    width: 500px;
    background: rgba(0, 0, 0 , .4);
    margin: 10px;
    margin-top: 2%;
    padding: 20px;
    color: white;
    text-align: center;
    align-items: center;
    border-radius: 10px;
}
.img{
    border-radius: 50%;
    transition: all 0.5s ease;
}
.img:hover{
    transform: scale(1.1);
    box-shadow: blue 0px 0px 20px;
}
.imagen h1{
    font-size: 30px;
    margin-bottom: 20px;
    margin: 30px 0 20px;
    transition: all 0.5s ease;
}
.imagen h1:hover{
    transform: scale(1.1);
    text-shadow:  blue 0px 0px 20px;;
}
.imagen h2{
    font-size: 20px;
    margin-bottom: 20px;
    margin: 20px 0 15px;
    color: aqua;
    transition: all 0.5s ease;
}
.imagen h2:hover{
    transform: scale(1.1);
    text-shadow:  yellow 0px 0px 20px;;
}
.imagen h3{
    font-size: 15px;
    margin-bottom: 20px;
    margin: 15px 0 15px;
}
.apartado{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1100px;
    margin-left: 85px;
}